@model IEnumerable<MTGToolbox.Core.IDeck>

@{
    ViewData["Title"] = "Deck";
}

<h2>Deck</h2>

@foreach (var item in Model)
{
    <p>
        @Html.ActionLink(@item.Name, "DeckList", "Deck", new { id = item.Id }, null)
    </p>
}